[Desktop Entry]
Comment=Aurorae theme
Name=simplicityblu
X-KDE-PluginInfo-Author=Ben
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL_V2
X-KDE-PluginInfo-Name=simplicityblu
X-KDE-PluginInfo-Version=1.1
