d7:devicesld5:_hidei0e5:_impl26:.DeviceInternetGatewayImpl6:_lname43:Netgear DG834 Router (ADSL Firewall Router)3:_lsi1276604713597e4:_mani0e5:_name43:Netgear DG834 Router (ADSL Firewall Router)7:_ppropsde5:_typei1e4:_uid60:1/uuid:824ff22b-8c7d-41c5-a131-44f534e12555::upnp:rootdeviceed5:_hidei0e5:_impl27:.DeviceContentDirectoryImpl6:_lname37:Vuze on 10.0.2.15 (Vuze Media Server)3:_lsi1276604738238e4:_mani0e5:_name37:Vuze on 10.0.2.15 (Vuze Media Server)7:_ppropsde5:_typei2e4:_uid60:2/uuid:3595d9d4-9344-77af-b63e-0634100d352a::upnp:rootdeviceeee