Source: netrunner-artwork
Section: admin
Priority: optional
Maintainer: Phoenix <phoenix@netrunner-os.com>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: netrunner-artwork
Architecture: all
Depends: netrunner-artwork-icons, netrunner-artwork-firefox
Suggests: netrunner-artwork-backgrounds
Description: Default artwork for Netrunner
 Default artwork for Netrunner
