[KdmGreeterTheme]
Greeter=Eclips.xml
Name=Netrunner Eclips
Description=Eclips-Dryland KDM-Theme
Author=Codicem/Anachronox
Copyright=
Screenshot=screenshot.png
