[Desktop Entry]
Comment=Aurorae theme
Name=Aurorae - MetroDark
X-KDE-PluginInfo-Author=raimis
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=raimef@gmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL_V2
X-KDE-PluginInfo-Name=Aurorae - MetroDark
X-KDE-PluginInfo-Version=1.0
