[Desktop Entry]
Comment=Gnome3 decoration for Netrunner
Name=Gnome3
X-KDE-PluginInfo-Author=Anachronox
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL_V2
X-KDE-PluginInfo-Name=Gnome3
X-KDE-PluginInfo-Version=1.0
