[Desktop Entry]

Name=Eclipse
Comment=Eclipse desktop theme based on Elly.

X-KDE-PluginInfo-Author=Anachronox
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=http://netrunner-os.com/
X-KDE-PluginInfo-Name=Eclipse
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Category=Plasma Theme
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

[Wallpaper]
defaultWallpaperTheme=Enigma II
defaultFileSuffix=.png
defaultWidth=1920
defaultHeight=1080
